/* @value primary-dark-color from '../theme/colors.css'; */

.squad {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  width: 50%;
}
.text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  margin-right: 24px;
  color: black;
}

